//@theme "/$HOME/.local/share/rofi/themes/nord-oneline.rasi"
//@theme "/$HOME/.local/share/rofi/themes/nord.rasi"
//@theme "/$HOME/.local/share/rofi/themes/nord_mod.rasi"
//@theme "/$HOME/.local/share/rofi/themes/rounded-gray-dark.rasi"
@theme "/$HOME/.local/share/rofi/themes/nord-oneline.rasi"
